<?xml version="1.0" encoding="UTF-8"?>

   <!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->

   <config version="1.0" htmlParse="false">

      <!-- title of the study -->
      <item id="studyTitle">Value Potentials of Slack Apps and Integrations</item>

      <!-- text-align property(left|right) -->
      <item id="textAlign">left</item>

      <!-- shuffle cards (true|false)  -->
      <item id="shuffleCards">true</item>

      <!-- login required (true|false) -->
      <item id="loginrequired">false</item>
      <!-- login with common password (leave blank if not required) -->
      <item id="loginPassword"></item>
      <!-- URL to individual login script(leave blank if not required) -->
      <item id="loginUrl"></item>
      <!-- request mode (post|get) -->
      <item id="loginUrlMethod"></item>

      <!-- activate/deactivate optional steps (true|false) -->
      <item id="showIntroduction">false</item>
      <item id="showStep3">false</item> <!-- Reorder -->
      <item id="showStep4">true</item> <!-- Commenting on both expremes -->
      <item id="showStep5">true</item> <!-- Questions -->

      <!-- HtmlQ only: disable the in-window back button -->
      <item id="disableBackButton">true</item>

      <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
      <!-- add label: <label>[STRING]</label> -->
      <!-- add note: <note>[STRING]</note> -->
      <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
      <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
      <item id="form">
          <note bg="false">All fields marked with an * are mandatory.</note>

          <label>(*) Gender</label>
          <input type="radio" required="true">female;male</input>

         <label>(*) Year of birth (YYYY, eg. 1980)</label>
         <input type="text" required="true" maxlength="4" restricted="0-9"></input>

         <label>(*) Company size</label>
         <input type="select" required="true">Micro enterprise (fewer than 10 employees); Small enterprise (10 to 49 employees);Medium‐sized enterprise (50 to 249 employees);Large enterprise (250 or more employees)</input>

         <label>(*) Country of residence</label>
         <input type="text" required="true"></input>

         <label>(*) Industry</label>
         <input type="text" required="true"></input>

         <label>(*) Job Role</label>
         <input type="text" required="true"></input>

         <label>(*) Messenger Platform</label>
         <input type="select" required="true">Slack;HipChat;Microsoft Teams;Stride;Telegram;Other</input>

         <label>(*) Messenger Usage Context</label>
         <input type="rating2" required="true" scale="Yes;No;">The messenger is my main collaboration tool at work (i.e., replaces internal email); Most of my work is digital regarding input/output; I work in a dispersed, distributed, or extended team; I am somewhat familiar with programming integrations</input>

         <label>(*) How important are integrations in the following types of channels? (1=not at all, 5=very important)</label>
         <input type="rating5" required="true" scale="1;2;3;4;5">Broadcasting channels (e.g., General, Blog, Buzz);Office location channels;Project team channels;Cross-team channels (e.g., HR, Marketing);Event-based channels (e.g., Christmas Party);Inter-organizational channels</input>

         <label>(optional) Email</label>
         <note>In case you are interested in the results of this study.</note>
         <input type="text" required="false"></input>

         <label>(optional) Comments, e.g., value potentials and constraints that are missing so far</label>
         <input type="textarea" required="false"></input>
      </item>

      <!-- URL for data transmission via POST/GET (leave blank if not required) -->
      <item id="submitUrl">exe.php?do=save</item>

      <!-- request mode (post|get|firebase) -->
      <item id="submitUrlMethod">firebase</item>

      <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
      <item id="submitMail">emanuel.stoeckli@unisg.ch</item>
   </config>
