<?xml version="1.0" encoding="UTF-8"?>

   <!--
//
// ===================================================
// FlashQ by Christian Hackert and Gernot Braehler
// ===================================================
// Configuration file.
// @author		Christian Hackert <www.hackert.biz/flashq>
// @version		FlashQ version 1.0
// ===================================================
//
-->

   <config version="1.0" htmlParse="false">

      <!-- title of the study -->
      <item id="studyTitle">Value Potentials of Slack Apps and Integrations</item>

      <!-- text-align property(left|right) -->
      <item id="textAlign">left</item>

      <!-- shuffle cards (true|false)  -->
      <item id="shuffleCards">true</item>

      <!-- login required (true|false) -->
      <item id="loginrequired">false</item>
      <!-- login with common password (leave blank if not required) -->
      <item id="loginPassword"></item>
      <!-- URL to individual login script(leave blank if not required) -->
      <item id="loginUrl"></item>
      <!-- request mode (post|get) -->
      <item id="loginUrlMethod"></item>

      <!-- activate/deactivate optional steps (true|false) -->
      <item id="showIntroduction">false</item>
      <item id="showStep3">false</item> <!-- Reorder -->
      <item id="showStep4">true</item> <!-- Commenting on both expremes -->
      <item id="showStep5">true</item> <!-- -->

      <!-- HtmlQ only: disable the in-window back button -->
      <item id="disableBackButton">true</item>

      <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
      <!-- add label: <label>[STRING]</label> -->
      <!-- add note: <note>[STRING]</note> -->
      <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
      <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
      <item id="form">
          <label>Gender*</label>
          <note>Please select your gender.</note>
          <input type="radio" required="true">female;male</input>

         <label>Age*</label>
         <note>Please enter your year of birth (YYYY, eg. 1980).</note>
         <input type="text" required="true" maxlength="4" restricted="0-9"></input>

         <label>Job Role*</label>
         <note>Please enter your job role.</note>
         <input type="text" required="true"></input>

         <label>What kind of company do you work for?</label>
         <input type="select" required="false">Small company;Medium‐sized company;Large corporation</input>

         <label>Which of the following types of Slack Channels do you use at work?*</label>
         <input type="rating2" required="true" scale="Yes;No;">Broadcasting channels (e.g., General, Blog, Buzz);Office location channels;Project team channels;Job role/ functional channels;Cross-team topic channels;Event-based channels;Inter-organizational channels;Integration-specific channels</input>

         <label>Email</label>
         <note>In case you are interested in the results of this study.</note>
         <input type="text" required="false"></input>

         <label>Comments</label>
         <input type="textarea" required="false"></input>

         <note bg="false">All fields marked with an * are mandatory.</note>
      </item>

      <!-- URL for data transmission via POST/GET (leave blank if not required) -->
      <item id="submitUrl">exe.php?do=save</item>

      <!-- request mode (post|get|firebase) -->
      <item id="submitUrlMethod">firebase</item>

      <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
      <item id="submitMail">emanuel.stoeckli@unisg.ch</item>
   </config>
