<div ng-class="{neutral: initialStatement.category === 'neutral', agree: initialStatement.category === 'agree', disagree: initialStatement.category === 'disagree'}" data-trigger="hover click">
    <div class="togglehover" style="text-align: center;">
        <span>hover to see statement</span>
        <span class="showonhover" ng-bind-html="initialStatement.__text"></span>
    </div>
    <div class="swap-image">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    </div>
</div>
